* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* user browser font size percentage */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 500;
  color: #555;
  /* only works if there is nothing absolutely positioned in relation to the the body */
  overflow-x: hidden;
}
/************************/
/* GENERAL COMPONENTS */
/* HERO SECTION */
.section-hero {
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}
/* RE-usables*/
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}
.heading-primary {
  font-size: 5.2rem;
  margin-bottom: 3.2rem;
  letter-spacing: -0.5px;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.sub-heading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;

  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: -0.5px;
  margin-bottom: 4.8rem;
}
/* 
@media (max-width: 600px) {
  .section-hero {
    border: 20px dashed blue;
    background-color: blue;
  }
}
@media (max-width: 1200px) {
  .section-hero {
    background-color: orangered;
  }
} */
.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  align-items: center;
  gap: 9.6rem;
  padding: 0 3.2rem;
}
.hero-img {
  width: 100%;
}

/* Navigation */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;

  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  /* justify-content: space-around; */
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

.btn-mobile-nav {
  border: none;
  background-color: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 5.8rem;
  width: 5.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /* Because we want it to be sticky */
  height: 9.6rem;
  padding: 4.8rem 0 9.6rem 0;

  position: relative;
}


.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1rem;
}
.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  font-size: 2rem;
  /* color: #fff; */
  /* only necessary for btn */
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;
  font-weight: 600;
  /* put transition on the original state */

  /* transition: background-color 0.3s; */
  transition: background-color all 0.3s;
}
.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
}
.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;

  /* border: 3px solid white; */
  /* To add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.link:link,
.link:visited {
  display: inline;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;

  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}