{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/general.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/queries.css' %}" />
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <title>Omnifood</title>
  </head>
  <body>
    <header class="header  "> 
       <!-- nav-open -->

<a href="#">
      <img class="logo" alt="Omnifood logo" src="{% static 'assets/img/Create.png' %}" />
    </a>

     
    <nav class="main-nav">
        <ul class="main-nav-list">
          <li><a href="#" class="main-nav-link">How to use it</a></li> 
           <li><a href="#"class="main-nav-link">Services</a></li> 
            <li><a href="#"class="main-nav-link">Testimonials</a></li> 
             <li><a href="#"class="main-nav-link">Pricing</a></li> 
             <li><a href="#"class="main-nav-link nav-cta">Try for free</a></li>
        </ul>
      </nav>

<button class="btn-mobile-nav">
  <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
  <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>

</button>

    </header>

    <main>

    <section class="section-hero">

      <div class="hero">
        <div class="hero-textbox">
          <h1 class="heading-primary">
            To Revolutionize access of Mechanic Services
          </h1>
          <p class="hero-description">
           To streamline the process of accessing reliable mechanical services by leveraging mobile technology
          </p>
          <a href="#" class="btn btn--full margin-right-sm"
            >Request for a service</a
          >
          <a href="#" class="btn btn--outline">Learn more &darr;</a>
        </div>

        <div class="hero-imgbox">
          <img
            src="{% static 'assets/img/matt.jpg' %}"
            class="hero-img"
            alt="woman enjoying food inthe container and the food bowls on a table"
          />
        </div>

        <div class="delivered-meals">
          <div class="delivered-imgs">
            <img src="{% static 'assets/img/customers/customer-1.jpg' %}" />
            <img src="{% static 'assets/img/customers/customer-2.jpg' %}" />
            <img src="{% static 'assets/img/customers/customer-3.jpg' %}" />
            <img src="{% static 'assets/img/customers/customer-4.jpg' %}" />
            <img src="{% static 'assets/img/customers/customer-5.jpg' %}" />
            <img src="{% static 'assets/img/customers/customer-6.jpg' %}" />
          </div>
          <p class="delivered-text">
            <span>1,000+</span>have used our services!
          </p>
        </div>
      </div>
      </section>
    </main>
    </section>
</body>
</html>