{% extends "mainweb/base.html" %} {% load static %} {% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <div class="row">
      <div class="col-xl-6">
        <h1>Accessibility Reliability Transparency & Customer satisfaction</h1>
        <!-- <h2>To ease access of mechanical services through the use of mobile Technology </h2> -->
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">
      <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide">
            <img
              src="{% static 'assets/img/clients/client-1.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static 'assets/img/clients/client-2.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static 'assets/img/clients/client-3.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static 'assets/img/clients/client-4.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static 'assets/img/clients/client-5.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static 'assets/img/clients/client-6.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static 'assets/img/clients/client-7.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static 'assets/img/clients/client-8.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- End Clients Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">
      <div class="row no-gutters">
        <div class="content col-xl-5 d-flex align-items-stretch">
          <div class="content">
            <h3>Our Vision</h3>
            <p>To Provide access of Mechanical Services anytime,any where</p>
            <a href="#" class="about-btn"
              ><span>About us</span> <i class="bx bx-chevron-right"></i
            ></a>
          </div>
        </div>
        <div class="col-xl-7 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div
                class="col-md-6 icon-box"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <i class="bx bx-receipt"></i>
                <h4>Our Mission</h4>
                <p>
                  To ease access of mechanical services through the use of
                  mobile Technology
                </p>
              </div>
              <div
                class="col-md-6 icon-box"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <i class="bx bx-cube-alt"></i>
                <h4>RescueMech</h4>
                <p>
                  We are mobile technology company, with a vision of connectiong
                  people around the country who are in need of a service such as
                  mechanical services ie flat tire fixing, as well as
                  maintenance and other services as well .
                </p>
              </div>
              <!-- <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-images"></i>
                  <h4>Labore consequatur</h4>
                  <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                </div> -->
              <!-- <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-shield"></i>
                  <h4>Beatae veritatis</h4>
                  <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
                </div> -->
            </div>
          </div>
          <!-- End .content-->
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <span
              data-purecounter-start="0"
              data-purecounter-end="232"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Happy Clients</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="bi bi-journal-richtext"></i>
            <span
              data-purecounter-start="0"
              data-purecounter-end="521"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Projects</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-headset"></i>
            <span
              data-purecounter-start="0"
              data-purecounter-end="1463"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Hours Of Support</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-people"></i>
            <span
              data-purecounter-start="0"
              data-purecounter-end="15"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Hard Workers</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Counts Section

  <!-- ======= Tabs Section ======= -->
  <section id="tabs" class="tabs">
    <div class="container" data-aos="fade-up">
      <ul class="nav nav-tabs row d-flex">
        <li class="nav-item col-3">
          <a
            class="nav-link active show"
            data-bs-toggle="tab"
            data-bs-target="#tab-1"
          >
            <i class="ri-gps-line"></i>
            <h4 class="d-none d-lg-block">Accessibility</h4>
          </a>
        </li>
        <li class="nav-item col-3">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
            <i class="ri-body-scan-line"></i>
            <h4 class="d-none d-lg-block">Reliability</h4>
          </a>
        </li>
        <li class="nav-item col-3">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
            <i class="ri-sun-line"></i>
            <h4 class="d-none d-lg-block">Transparent</h4>
          </a>
        </li>
        <li class="nav-item col-3">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
            <i class="ri-store-line"></i>
            <h4 class="d-none d-lg-block">Customer satisfaction</h4>
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active show" id="tab-1">
          <div class="row">
            <div
              class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <h3>
                Regardless of location,customers should have easy access to the
                highest quality auto spare parts and services.
              </h3>
              <p class="fst-italic">Here is how.</p>
              <ul>
                <li>
                  <i class="ri-check-double-line"></i>A user-Friendly Digital
                  Platforms
                </li>
                <li>
                  <i class="ri-check-double-line"></i> An Inclusive Design and
                  Usability reprehenderit in voluptate velit.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> A wide Range of Products
                </li>
              </ul>
              <p>
                Accessibility is not just a goal; it's a promise. We are
                dedicated to creating an inclusive and supportive environment
                for all our customers, ensuring that everyone has the
                opportunity to keep their vehicles running smoothly and
                efficiently. Thank you for choosing Rescue Mech, where
                accessibility and customer satisfaction drive our mission.
              </p>
            </div>
            <div
              class="col-lg-6 order-1 order-lg-2 text-center"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <img
                src="{% static 'assets/img/tabs-1.jpg' %}"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
        </div>
        <div class="tab-pane" id="tab-2">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
              <h3>
                At RescueMech, reliability is the cornerstone of our business.
              </h3>
              <p></p>
              <p class="fst-italic">Here’s how.</p>
              <ul>
                <li>
                  <i class="ri-check-double-line"></i> We High-Quality Products
                </li>
                <li>
                  <i class="ri-check-double-line"></i>We give Expert Mechanics.
                </li>
                <li>
                  <i class="ri-check-double-line"></i>
                  Also Consistent Service
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Prompt Delivery and
                  Service
                </li>
              </ul>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img
                src="{% static 'assets/img/tabs-2.jpg' %}"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
        </div>
        <div class="tab-pane" id="tab-3">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
              <h3>
                it’s a foundational principle that guides every aspect of our
                operations.
              </h3>
              <p>
                We believe in building trust with our customers through open and
                honest communication,giving information about our auto spare
                parts and mechanics services.
              </p>
              <p>Here’s how.</p>
              <ul>
                <li>
                  <i class="ri-check-double-line"></i>Giving Clear Product
                  Information.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Providing a Honest
                  Pricing.
                </li>
                <li><i class="ri-check-double-line"></i>Ethical Practices.</li>
              </ul>
              <p class="fst-italic">
                Transparency is more than just a value—it’s the foundation of
                our business.
              </p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img
                src="{% static 'assets/img/tabs-3.jpg' %}"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
        </div>
        <div class="tab-pane" id="tab-4">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
              <h3>
                Satisfying a customer is our our core value and the driving
                force behind everything we do.
              </h3>
              <p>
                We are dedicated to ensuring that every interaction with our
                company leaves you feeling valued, heard, and satisfied.
              </p>
              <p class="fst-italic">
                Here’s how we prioritize customer satisfaction
              </p>
              <ul>
                <li>
                  <i class="ri-check-double-line"></i> We Provide High-Quality
                  Products and Services
                </li>
                <li>
                  <i class="ri-check-double-line"></i>
                  Exceptional Customer Support Services are given
                </li>
                <li>
                  <i class="ri-check-double-line"></i>
                  Warranty and Guarantees are provided too.
                </li>
              </ul>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img
                src="{% static 'assets/img/tabs-4.jpg' %}"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- End Tabs Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Services</h2>
        <p>
          We offer a range of services at Rescue Mech and we do work to make
          sure you get the best offer anytime,anywhere
        </p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-briefcase"></i>
            <h4><a href="#">Computer Diagnosis</a></h4>
            <!-- <p>
              Voluptatum deleniti atque corrupti quos dolores et quas molestias
              excepturi sint occaecati cupiditate non provident
            </p> -->
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-card-checklist"></i>
            <h4><a href="#">Tire Puncture Repair</a></h4>
            <!-- <p>
              Minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat tarad limino ata
            </p> -->
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-bar-chart"></i>
            <h4><a href="#">Brakes Repair</a></h4>
            <!-- <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur
            </p> -->
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-binoculars"></i>
            <h4><a href="#">Battery Replacement</a></h4>
            <!-- <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum
            </p> -->
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="500">
            <i class="bi bi-brightness-high"></i>
            <h4><a href="#">Oil Change</a></h4>
            <!-- <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque
            </p> -->
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="600">
            <i class="bi bi-calendar4-week"></i>
            <h4><a href="#">Full Car Service</a></h4>
            <!-- <p>
              Et harum quidem rerum facilis est et expedita distinctio. Nam
              libero tempore, cum soluta nobis est eligendi
            </p> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Testimonials</h2>
        <p>
          Testimonials from individuals who have been using the services of
          RescueMech for the alongtime, and I can confidently say they have
          transformed the way we do business.
        </p>
      </div>

      <div
        class="testimonials-slider swiper"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img
                  src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Michael Wilkerson</h3>
                <h4>Co-Founder</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  I found the pure support and dignified approach at RecueMech
                  to be exemplary. Their attention to detail and customer care
                  are second to none, seamlessly addressing any issues with
                  great professionalism. The results exceeded my expectations,
                  providing solutions that are both efficient and effective. I
                  highly recommend their services for anyone looking for
                  reliable and top-notch assistance.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img
                  src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Dr. Davis</h3>
                <h4>psychiatrist</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Even though there were some challenges initially, the team at
                  RescueMech provided exceptional service that truly stood out.
                  Their commitment to addressing every concern, no matter how
                  small, with utmost professionalism was remarkable. The level
                  of dedication and care they demonstrated was beyond our
                  expectations. Their ability to understand my needs and deliver
                  effective solutions has made a significant positive impact on
                  our operations. We highly recommend their services to anyone
                  seeking reliable and high-quality support
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img
                  src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>

                  Our partnership with Mobile mechanics application ensures that
                  we offer only the best products to our customers. Whether it’s
                  a rare component for a vintage car or a crucial part for the
                  latest model, we have it all. Our knowledgeable staff is
                  always ready to assist with expert advice and exceptional
                  service.

                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img
                  src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Working on the mobile mechanic app has been an incredibly
                  rewarding experience. The project allowed me to merge my
                  passion for technology with my interest in the automotive
                  industry, creating a solution that truly benefits both
                  suppliers and customers. I am proud to have been a part of the
                  mobile mechanic app project. Thank you for the opportunity to
                  contribute to such an impactful project.

                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img
                  src="{% static 'assets/img/testimonials/testimonials-5.jpg' %}"
                  class="testimonial-img"
                  alt=""
                />
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>

                  As an entrepreneur in the automotive industry, Mobile Mechanic
                  app was a pivotal moment for my business. I had a vision to
                  create a seamless platform that connects everyone in need with
                  spare parts,reliable mechanics, and I've worked with a team to
                  bring this vision to life. Fortunately, I found my team, whose
                  expertise and dedication were instrumental in making the mob
                  mech app a reality. From the initial planning stages to the
                  final launch. They not only understood the technical
                  requirements but also had a keen insight into the needs of our
                  target audience. Their ability to translate complex ideas into
                  a user-friendly and efficient application was impressive.

                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <!-- <section id="faq" class="faq">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Frequently Asked Questions</h2>
      </div>

      <ul class="faq-list accordion" data-aos="fade-up">
        <li>
          <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1"
            >Non consectetur a erat nam at lectus urna duis?
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-x icon-close"></i
          ></a>
          <div id="faq1" class="collapse" data-bs-parent=".faq-list">
            <p>
              Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id
              volutpat lacus laoreet non curabitur gravida. Venenatis lectus
              magna fringilla urna porttitor rhoncus dolor purus non.
            </p>
          </div>
        </li>

        <li>
          <a data-bs-toggle="collapse" data-bs-target="#faq2" class="collapsed"
            >Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-x icon-close"></i
          ></a>
          <div id="faq2" class="collapse" data-bs-parent=".faq-list">
            <p>
              Dolor sit amet consectetur adipiscing elit pellentesque habitant
              morbi. Id interdum velit laoreet id donec ultrices. Fringilla
              phasellus faucibus scelerisque eleifend donec pretium. Est
              pellentesque elit ullamcorper dignissim. Mauris ultrices eros in
              cursus turpis massa tincidunt dui.
            </p>
          </div>
        </li>

        <li>
          <a data-bs-toggle="collapse" data-bs-target="#faq3" class="collapsed"
            >Dolor sit amet consectetur adipiscing elit pellentesque habitant
            morbi? <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-x icon-close"></i
          ></a>
          <div id="faq3" class="collapse" data-bs-parent=".faq-list">
            <p>
              Eleifend mi in nulla posuere sollicitudin aliquam ultrices
              sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla
              pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque
              eu tincidunt. Lectus urna duis convallis convallis tellus. Urna
              molestie at elementum eu facilisis sed odio morbi quis
            </p>
          </div>
        </li>

        <li>
          <a data-bs-toggle="collapse" data-bs-target="#faq4" class="collapsed"
            >Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-x icon-close"></i
          ></a>
          <div id="faq4" class="collapse" data-bs-parent=".faq-list">
            <p>
              Dolor sit amet consectetur adipiscing elit pellentesque habitant
              morbi. Id interdum velit laoreet id donec ultrices. Fringilla
              phasellus faucibus scelerisque eleifend donec pretium. Est
              pellentesque elit ullamcorper dignissim. Mauris ultrices eros in
              cursus turpis massa tincidunt dui.
            </p>
          </div>
        </li>

        <li>
          <a data-bs-toggle="collapse" data-bs-target="#faq5" class="collapsed"
            >Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-x icon-close"></i
          ></a>
          <div id="faq5" class="collapse" data-bs-parent=".faq-list">
            <p>
              Molestie a iaculis at erat pellentesque adipiscing commodo.
              Dignissim suspendisse in est ante in. Nunc vel risus commodo
              viverra maecenas accumsan. Sit amet nisl suscipit adipiscing
              bibendum est. Purus gravida quis blandit turpis cursus in
            </p>
          </div>
        </li>

        <li>
          <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed"
            >Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis
            nunc eget lorem dolor? <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-x icon-close"></i
          ></a>
          <div id="faq6" class="collapse" data-bs-parent=".faq-list">
            <p>
              Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris
              vitae ultricies leo integer malesuada nunc vel. Tincidunt eget
              nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut
              venenatis tellus in metus vulputate eu scelerisque. Pellentesque
              diam volutpat commodo sed egestas egestas fringilla phasellus
              faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section> -->
  <!-- End Frequently Asked Questions Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Team</h2>
        <p>
          <!-- The talented and dedicated team that makes our company thrive.  -->
        </p>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img
                src="{% static 'assets/img/team/team-1.jpg' %}"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Juliet Nakawesi</h4>
              <span>Founder</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img
                src="{% static 'assets/img/team/team-2.jpg' %}"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Brian Kasekulume</h4>
              <span>co-founder</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img
                src="{% static 'assets/img/team/team-3.jpg' %}"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Bradie</h4>
              <span>Team lead developer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img
                src="{% static 'assets/img/team/team-4.jpg' %}"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Cecilia</h4>
              <span>Graphics designer</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Contact</h2>
        <!-- <p>
      
        </p> -->
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-12">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3>Our Address</h3>
                <p>Ntinda, Kampala,</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-envelope"></i>
                <h3>Email Us</h3>
                <p>info@example.com<br />contact@example.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-phone-call"></i>
                <h3>Call Us</h3>
                <p>+1 5589 55488 55<br />+1 6678 254445 41</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <form action="" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col form-group">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  placeholder="Your Name"
                  required
                />
              </div>
              <div class="col form-group">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Your Email"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                placeholder="Subject"
                required
              />
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                name="message"
                rows="5"
                placeholder="Message"
                required
              ></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your message has been sent. Thank you!
              </div>
            </div>
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->
{% endblock %}
